node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.next
.env
.env.local
.env.development
.env.test
.env.production
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
README.md
*.md
.vscode
.idea
